[class^="mer"] {
  font-family: 'Merriweather', serif;
}

[class^="mont"] {
  font-family: 'Montserrat', sans-serif;
}

[class^="roboto"] {
  font-family: 'Roboto Condensed', sans-serif;
}

[class$="300"] {
  font-weight: 300;
}
[class$="400"] {
  font-weight: 400;
}
[class$="700"] {
  font-weight: 700;
}
[class$="900"] {
  font-weight: 300;
}

em {
  font-style: italic;
}

.wf-loading [class^="mer"] {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.wf-loading [class^="mont"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wf-loading [class^="roboto"] {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
