
/* Merriweather  */
@font-face {
  font-family: 'merriweatherblack';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-black-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-black-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatherbold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatherbold_italic';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatheritalic';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-italic-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatherlight';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-light-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatherlight_italic';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'merriweatherregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
  url('fonts/merriweather/merriweather-regular-webfont.woff') format('woff');
}

/* Montserrat  */

@font-face {
  font-family: 'montserratbold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
  url('fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
  url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'montserratlight';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
  url('fonts/montserrat/montserrat-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'montserratsemi_bold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
  url('fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
}

/* Robot  */
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('fonts/roboto/robotocondensed-bold-webfont.woff') format('woff');
}
